.input-field{
  outline: none;
  border: solid;
  border-radius: 5px;
  border-width: 0.5px;
  color: var(--input-field-color);
  border-color: var(--input-field-color);
  margin: 5px;
  padding:8px;
}

.input-field::placeholder{
  color: gray;
}

.input-field:focus{
  outline: none;
}

.input-field-invalid{
  border-color: var(--input-field-invalid-color);
  color: var(--input-field-invalid-color);
}

.input-field-success {
  border-color: var(--input-field-success-color);
  color: var(--input-field-success-color);
}

.form-label{
  font-size: 20px;
  padding: 8px;
}

.form-input{
  margin:0px;
}

.form-container{
  margin: 5px;
}

.form-description{
  font-size: 13px;
  margin-left: 5px;
}

.form-description-invaild{
  font-size: 13px;
  margin-left: 5px;
  color:red;
}

.form-description-success {
  font-size: 13px;
  margin-left: 5px;
  color: green;
}